root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8

[*.diff]
insert_final_newline = false
trim_trailing_whitespace = false

[*.{c,h}]
indent_style = space
indent_size = 4

[*.{cc,hh,cpp,cxx,hpp}]
indent_style = space
indent_size = 4

[Dockerfile*]
indent_style = space
indent_size = 4


[*.{yml,yaml}]
indent_style = space
indent_size = 4
